body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 40px;
}

.container {
    display: flex;
    gap: 30px;
}

.left,
.right {
    background: #fff;
    padding: 20px;
}

.left {
    width: 300px;
}

.right {
    flex: 1;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
}

.item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.item b {
    color: #007bff;
}
